
<form >
<input type="text" value="{{question.qno}}"> <br><br>

 <input type="text" name="qtext" value="{{question.qtext}}"><br><br>

 <input type="hidden" name="answer" value="{{question.answer}}"><br>

 <input type="radio" name="op" value="{{question.op1}}"> <span> {{question.op1}} </span>

 <input type="radio" name="op" value="{{question.op2}}"> <span> {{question.op2}} </span>

 <input type="radio" name="op" value="{{question.op3}}"> <span> {{question.op3}} </span>

 <input type="radio" name="op" value="{{question.op4}}"> <span> {{question.op4}} </span>
<br><br><br>
<input type="submit" value="prev" formaction="/Examapp/prevQuestion/" >
<input type="submit" value="next" formaction="/Examapp/nextQuestion/" >
</form>